.center {
  flex: 1;
  overflow-y: auto;
  background-color: var(--my-color-background);
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav_bar {
  --border-bottom: 2px solid #e8e8e8;
}

.tab_bar {
  border-top: 2px solid #e8e8e8;
}
